form {
    display: flex;
    flex-direction: column;  
}

button {
    margin-right: 15px;
    margin-top: 10px;
}

.nameinproduct {
    border: none;
    display: flex;
    border-bottom: 0.2px solid rgb(59, 57, 57);
}

.priceinproduct {
    border: none;
    display: flex;
    border-bottom: 0.2px solid rgb(59, 57, 57);
}